/* Font imported from Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

/* Styles applied to following Tags, Classes & Id  */

body{
    background-image: url("./back.jpg");
    background-size: cover;
    background-attachment: scroll ;
    font-family: 'Noto Sans JP' , sans-serif;
    color: white;
    font-size: larger;
}

h1{
    text-align: center;
    padding-top: 10px;
}
.block {
    border: 1px solid grey;
    border-radius: 10px; 
    margin: 100px; 
    padding: 15px;
    display: flex;
    text-align: center;

}
input{
    font-size: medium;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

button{
    font-size: 30px;
    border-radius: 10px;
    padding: 10px;
   margin-left: 30px;
}

.show_result{
    padding-left: 50px;
}
p{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-left: 50px;
}
#person_tip , #total_tip{
    size: 40px;
}